.container {
  text-align: center;
}
.coinContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  grid-gap: 0.5rem;
}
.coinItem {
  text-align: center;
  border-radius: 10px;
  width: 200px;
  padding: 0.5rem 1rem;
  background-color: rgb(232, 231, 217);
}
